@import url('https://yastatic.net/s3/frontend/yandex-font/v0.0.2/browser.css');

.button {
  padding: 11px 20px;
  display: inline-block;
  font-size: 13px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  color: black;
  text-decoration: none;

  &_size {
    &_lg {
      height: 36px;
    }

    &_md {
      height: 28px;
    }

    &_sm {
      height: 28px;
      width: 28px;
    }
  }

  &_color {
    &_primary {
      background: #ffcc00;
      outline-color: #b38f00;

      &:hover {
        background: #f2c200;
      }
    }

    &_secondary {
      background: #e6e6e6;
      outline-color: #b3b3b3;

      &:hover {
        background: #dbdbdb;
      }
    }
  }

  &:disabled,
  &_link.disabled {
    pointer-events: none;
    background: #f2f2f2;
    color: #b8b8b8;
    cursor: default;
  }

  svg {
    width: 12px;
    height: 12px;
    position: relative;
    top: 2px;
    margin-right: 5px;
  }

  &_with-icon {
    padding: 6px 13px 6px 8px;
  }
}
