.history {
  text-align: left;

  &__item {
    margin-bottom: 8px;
  }

  &__show-more {
    margin-bottom: 14px;
  }
}

@media screen and (max-width: 480px) {
  .history {
    &__show-more {
      width: 100%;
    }
  }
}
