.header {
  position: fixed;
  width: 100%;
  background-color: white;
  top: 0;
  left: 0;

  &_container {
    min-height: 48px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  &_link {
    color: #7f8285;
    font-weight: 500;
    font-size: 24px;
    margin: 0;
  }
}
