.header {
  width: 100%;
  background-color: white;

  &__repository {
    font-size: 24px;
    margin: 0;
  }

  &__container {
    min-height: 48px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  &__link {
    color: #7f8285;
    font-weight: 500;
    font-size: 24px;
    margin: 0;
  }

  &__run-build {
    margin-right: 8px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    &__container {
      min-height: 52px;
    }

    &__btn {
      width: 28px;
      height: 28px;
      font-size: 0;
    }

    &__button-container {
      display: flex;
    }

    &__run-build {
      svg {
        top: 0px;
      }
    }
  }
}
