.footer {
  width: 100%;
  background-color: #f0f2f3;

  &__container {
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  &__nav {
    display: flex;
  }

  &__ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__nav-item {
    margin-right: 12px;
  }

  &__link {
    text-decoration: none;
    color: #7f8285;
    font-size: 13px;

    &:hover {
      color: #e00000;
    }
  }

  &__copirate {
    color: #7f8285;
    font-size: 13px;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    height: 68px;
    padding: 12px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__container {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
    }

    &__nav-item {
      margin-bottom: 8px;
    }
  }
}
