.text-field {
  width: 100%;
  text-align: left;
  position: relative;

  &__label {
    display: block;
    font-size: 13px;
    margin-bottom: 6px;
  }

  &__input {
    width: 100%;
    height: 36px;
    padding: 10px 13px;
    background: #ffffff;
    border: 2px solid #d9d9d9;
    border-radius: 4px;
    color: #000000;
    font-size: 13px;

    &::placeholder {
      color: #cccccc;
    }

    &:focus {
      outline: none;
      border: 2px solid #b3b3b3;
    }
  }

  &__reset {
    cursor: pointer;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }

  &__reqire-mark {
    color: #ff3333;
  }

  &__reset.disabled {
    pointer-events: none;
  }
}

.text-field__number {
  .text-field {
    &__label {
      display: inline;
    }

    &__input {
      width: 52px;
      margin: 0 8px;
      -moz-appearance: textfield;
      text-align: right;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    &__minutes {
      font-size: 13px;
      color: #434445;
    }
  }
}
