.App {
  text-align: center;
}

* {
  font-family: 'YS Text', Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.content {
  width: 824px;
  height: calc(100vh - 88px);
  margin: 56px auto 0 auto;
}
